
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-size .form-type-radio {
  margin: 10px;
  float: left;
  height: 220px;
  text-align: center;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-size .form-type-radio .name {
  width: 30px;
  display: inline-block;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-size .form-type-radio .thumbnail {
  vertical-align: middle;
}

#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio {
  clear: left;
  border-top: 1px solid #DDD;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio input,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio label,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio input,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio label {
  float: left;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio div.name,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio div.img,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio div.features,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-text-style .form-type-radio div.info,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.name,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.img,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.features,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.info {
  float: left;
  margin: 0 10px 10px;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-text .form-type-radio div.name,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.name {
  width: 100px;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-text .form-type-radio div.img,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.img {
  width: 400px;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-text .form-type-radio div.features,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.features {
  width: 200px;
}
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-text .form-type-radio div.info,
#nrelate-admin-related-settings .form-item-nrelate-related-widget-thumbnail-style .form-type-radio div.info {
  width: 200px;
}
